/* Structuration des éléments du portfolio de ".photo" à ".paysage"
*/
.photo {
    background-color: white;
    margin-bottom: 80px;
}

.photo h2 {
    margin-top: 35px;
    margin-bottom: 20px;
    color: #1F2039;
}

.portrait img, .paysage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

.paysage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

/* Effets au survol de différentes images de ".photo-hover" à
".lien-conteneur:hover .photo-hover"
*/
.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-conteneur {
    position: relative;
}

.lien-conteneur:hover .photo-hover{
    display: flex;
}

@media screen and (max-width: 996px) {
    .paysage{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .portrait{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}